
---
title: Chaudhuri Lab Members
layout: default
group: members
---

<h1>Chaudhuri Lab Members</h1>

<p> The Chaudhuri Lab brings together passionate researchers dedicated to biomaterials, immunotherapy, and cancer research. Learn more about our amazing people below.</p>

{% for member in site.members %}

{% unless member.enddate == empty or member.startdate.size != member.enddate.size %}
{% continue %}
{% endunless %}

<hr>
<!-- Anchor fix for in-page links -->
<div id="{{ member.name | slugify }}" class="row" style="padding-top: 60px; margin-top: -60px;">
  <div class="col-sm-4 text-center">
    <img class="img-fluid" src="{{ member.image }}" {% if member.altimage %} onmouseover="this.src='{{ member.altimage }}';" onmouseout="this.src='{{ member.image }}';" {% endif %} alt="{{ member.name }}" width="365" height="365"><br>
    <strong>{{ member.name }}</strong><br>
    {% if member.pronouns %}
      <em>{{ member.pronouns }}</em><br>
    {% endif %}
    <em>{{ member.position }}</em><br>
    {% if member.email %}
      <p><strong>Email:</strong> {{ member.email }}</p>
    {% endif %}
    {% if member.linkedin %}
      <a href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank">
        <img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg" alt="LinkedIn"> LinkedIn
      </a><br>
    {% endif %}
    {% if member.twitter %}
      <a href="https://twitter.com/{{ member.twitter }}" target="_blank">
        <img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg" alt="Twitter"> @{{ member.twitter }}
      </a><br>
    {% endif %}
    {% if member.orcid %}
      <a href="https://orcid.org/{{ member.orcid }}" target="_blank">
        <img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg" alt="ORCID"> {{ member.orcid }}
      </a><br>
    {% endif %}
  </div>
  <div class="col-sm-8">
    {% if member.description %}
      {{ member.description | markdownify }}
    {% endif %}
  </div>
</div>
{% endfor %}
